.title {
            /* flex: 2; */
}

.logout {
            /* flex: 2; */
            font-size: 1.2rem;
}

.top-bar {
            /* height: 200px; */
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-end;
            border-bottom: 1.5px solid black;
            margin: 20px 20px;
}

/* Bar Chart */
html,
body,
#myChart,
#myChart2,
#myChart3 {
  width: 100%;
  height: 150rem;
  
}

#myChart,
#myChart2,
#myChart3 {
  width: 60%;
  height: 100%;
}


#myChart {
  /* height: 1400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
}

#myChart2 {
  /* height: 1400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
}

#myChart3 {
  /* height: 1400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
}

.charts {
  /* background-color: cyan; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.zc-ref {
  display: none;
}