b {
            font-size: 20px;
}

.sub {
            background-color: rgb(230, 224, 224);
            display: flex;
            justify-content: space-between;
}

#testCSS{
            margin: 10px;
            display: none;
}

#testImage{
            display: none;
}